.contedor_padre_carta {
    height: 350px;
    display: flex;
    flex-direction: column;
    border-radius: 12px;
    background-color: white;
    box-shadow: 0 6px 14px rgba(0, 0, 0, 0.15);
}

.img_producto {
    height: 250px;
}

.cotendor_informacion {
    display: flex;
    flex-direction: column;
    padding: 0.8rem;
    font-family: "Poppins", sans-serif;
}


/*
Inicio
crear cienta 
crear procuto
incio 


chat
vista del producto 
vista de mi perfil
vista chats 
*/