.menu-btn {
  background: transparent;   /* fondo transparente */
  border: none;              /* sin bordes */
  padding: 8px;

  color: white;              /* o el color que uses en el header */

  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  
}
