.Contendor_cartas_productos {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
    gap: 2rem;
    padding: 5rem 10rem 0 10rem;
    background-color: white;
}

@media (max-width: 870px) {
  .Contendor_cartas_productos {
    grid-template-columns: repeat(2, 1fr);
    gap: 0.7rem;
     padding: 1rem;
  }
}
