body{
  display:flex;
  justify-content:center;
  align-items:center;
  height:100vh;
  margin:0;
 background: linear-gradient(135deg, #c7dad4);
  font-family: system-ui, Segoe UI, Roboto, Arial;

}
.form-container{
  width: 320px;
  padding: 30px;
 background: white;
  border: 1px solid #101211;
  border-radius: 12px;
}
/*Meterlo en caja*/
.form-container input[type="text"],
.form-container select{
  width: 100%;
  padding: 10px 12px;
  border: 1px solid #0c0c0c;
  border-radius: 10px;
  font: inherit;
  box-sizing: border-box;
  background: white;
  /*text-align: center;*/
}
.form-container select:invalid{
  color:#0d0d0d;
}
.form-container select option{
  color:#0f0f0f;
}

form{
  display:flex;
  flex-direction:column;
  gap:8px;
}

input, button{
  width:220px;
  margin: 0 auto;
  border-radius: 10px;
  background: linear-gradient(to left, #bceadc, #67959e);
  color: white;
}

select{
  width:220px;
  margin: 0 auto;
  border-radius: 10px;
  background: #fff;
  color: #111;
}

/*foto*/
.btn-foto{
  width: 60px;
  height: 60px;
  margin: 0 auto;
  border: 1px solid #ccc;
  border-radius: 10px;
  background: #fff;
  display: grid;
  place-items: center;
  cursor: pointer;
}

.btn-foto img{
  width: 40px;     /* tamaño del icono */
  height: 40px;
  object-fit: contain;
  display: block;
}





